body {
    font-family: Arial;
    direction: rtl;
    text-align: right;
    margin: 0;
}
* {
    box-sizing: border-box;
}
header {
    height: 105px;
    width: 100%;
    /* background-color: gray; */
    background: linear-gradient(to bottom, #808080 90%, #d3d3d3);
}
.inside_header {
    width: 900px;
    /* height: 100%; */
    display: flex; 
    margin: 0 auto;
}
#h_search {
    display: flex; 
    justify-content:flex-end;
}
#h_main_menu {
    display: flex;
    /* align-items: flex-end; */
    justify-content: space-evenly;
    /* margin: 0 auto; */
}
#h_logo {
    position: relative;
    top: 20px;
}
header > div > nav > ul {
    display: flex;
    list-style: none;
    /* list-style: url('./images/images/menu_sep.png'); */
    padding: 0;
}
header > div > nav > ul > li:not(:first-child):before {
    content: url('./images/images/menu_sep.png');
    margin: 0 5px;
}
header > div > nav > ul > li {
    margin: 0 5px;
}
header > div > nav > ul > li > a, .dropdown-content > a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 16px;
    text-decoration: none;
    /* padding: 10px; */
    display: inline-block;
}
header > div > nav > ul > li > a:hover, .dropdown-content:hover > a {
    color: blue;
    text-decoration: underline;
}
.dropdown {
    position: relative;
}
  
.dropdown-content {
    background-color: gray;
    position: absolute;
    padding: 20px;
    display: none;
    right: 30%;
    box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.5);
}
header > div > nav > ul > li >div[class="dropdown-content"]:not(:first-child):before {
    /* content: url('./images/images/menu_dropdown_sep.png');
    margin: 5px 0; */
    padding-top: 8px !important;
    background-color: white;
}
/* header > div > nav > ul > li >div[class="dropdown-content"]:last-of-type {
    margin-top: 10px;
    border-top: 1px solid white;
  } */
.dropdown:hover > .dropdown-content {
    display: block;
}
#main_page {
    width: 900px;
    margin: auto;
    margin-top: 30px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
}
  
.column {
    flex-basis: 33.333%;
}
.row1-img {
    border-radius: 0px 0px 20px 0px;
}
.row2-col {
    /* max-width: 292x; */
    height: 216px;
    border: 2px solid black;
    border-radius: 0px 20px 0px 0px;
    padding: 0 0 0 2px;
    margin: 0 4px;
}
.inner_row2-col {
    width: 244px;
    height: 216px;
    padding: 0px, 24px;
    color: #575757;
}
div[class="row"] > div[class="column"] > div[class="row2-col"] > h3 {
    height: 34px;
    right: 25px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}
#gas_map, #invest_rel {
    float: left;
}
#minimaized_img {
    width: 20px;
    height: 20px;
    margin-top: 6px;
}
footer {
    position: fixed;
    bottom: 0;
    background: linear-gradient(to bottom, #d3d3d3, 10%, #808080);
    height: 38px;
    width: 100%;
}
#inside_footer {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}
footer > div > nav > ul {
    display: flex;
    list-style: none;
    /* list-style: url('./images/images/menu_sep.png'); */
    padding: 0;
}
footer > div > nav > ul > li:not(:first-child):not(:last-child):before {
    content: " | ";
    color: white;
    /* content: url('./images/images/menu_sep.png'); */
    margin: 0 5px;
}
footer > div > nav > ul > li:last-child{
    margin-right: auto;
}
footer > div > nav > ul > li > a {
    color: white;
    /* font-weight: bold; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 16px;
    text-decoration: none;
}
footer > div > nav > ul > li > a:hover {
    color: blue;
    /* font-weight: bold; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 16px;
    text-decoration: underline;
    /* padding: 10px; */
}
#h_search input[type=text] {
    /* float: right; */
    /* padding: 6px;
    margin-top: 8px;
    margin-right: 16px; */
    border: none;
    width: 126px;
    margin-top: 6px;
    height: 20px;
    border-radius: 0px 10px 0px 0px;
    /* font-size: 17px; */
  }
  
#lang {
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}